In [1]:
import pandas as pd
df = pd.read_csv('TS_Harvey_Tweets.csv')

In [2]:
df = pd.DataFrame(df)

data_types = df.dtypes

print(data_types)

Unnamed: 0     object
ID            float64
Time           object
Tweet          object
Retweets      float64
Replies       float64
Likes         float64
dtype: object

In [3]:
def convert_to_str(x):
    try:
        return str(x)
    except:
        return None
df['Tweet'] = df['Tweet'].apply(convert_to_str)

In [4]:
import pandas as pd
import re
import string
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import TweetTokenizer
from nltk.stem import WordNetLemmatizer




#  Lowercasing
df['Tweet'] = df['Tweet'].str.lower()

#  Removal of Special Characters and Punctuation
df['Tweet'] = df['Tweet'].apply(lambda x: re.sub(r'[^\w\s]', '', x))


#  Handling Mentions  
df['Tweet'] = df['Tweet'].apply(lambda x: re.sub(r'@\w+', '', x))

# Removing hastags
df['Tweet'] = df['Tweet'].apply(lambda x: re.sub(r'#\w+', '', x))

#  URL Removal 
df['Tweet'] = df['Tweet'].apply(lambda x: re.sub(r'http\S+', '', x))




print(df)

      Unnamed: 0            ID                 Time  \
0              0  3.109279e+09  2009-08-03 18:59:08
1              1  3.222536e+09  2009-08-10 09:21:17
2              2  3.222566e+09  2009-08-10 09:25:40
3              3  3.818993e+09  2009-09-07 14:22:08
4              4  5.465019e+09  2009-11-06 00:32:37
...          ...           ...                  ...
46120      46104  9.047329e+17  2017-09-04 15:48:23
46121      46105  9.047345e+17  2017-09-04 15:54:52
46122      46106  9.047348e+17  2017-09-04 15:56:05
46123      46107  9.047371e+17  2017-09-04 16:05:19
46124      46108  9.047376e+17  2017-09-04 16:07:00

                                                   Tweet  Retweets  Replies  \
0      on this date in 2005 tropical storm harvey had...       0.0      0.0
1      algiers canal harvey canal tropical storm rule...       0.0      0.0
2      algiers canal harvey canal tropical storm rule...       0.0      0.0
3                 wtf tropical storm harvey fukkin me up       0.0      0.0
4      briaden harvey tropical storm ida threatens ni...       0.0      0.0
...                                                  ...       ...      ...
46120  help the trans community overcome hurricanetro...       0.0      0.0
46121  dork tower 1d6 of separation 60 off today\r\n\...       3.0      0.0
46122  santa monica animal rescue organization brings...       0.0      0.0
46123  tropical storm harvey shutters nasas johnson s...       0.0      0.0
46124  leave or stay\r\n\r\nin the aftermath of tropi...       0.0      0.0

       Likes
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
...      ...
46120    0.0
46121    0.0
46122    0.0
46123    0.0
46124    0.0

[46125 rows x 7 columns]

In [5]:
#  Tokenization using TweetTokenizer
tokenizer = TweetTokenizer()
df['Tweet'] = df['Tweet'].apply(tokenizer.tokenize)

# Lemmatization using NLTK
nltk.download("wordnet")
lemmatizer = WordNetLemmatizer()
df['Tweet'] = df['Tweet'].apply(lambda x: [lemmatizer.lemmatize(word) for word in x])


for index, row in df.iterrows():
    df.at[index, 'Tweet'] = ' '.join(row['Tweet'])

[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/srragulraj/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [6]:
df

,Unnamed: 0,ID,Time,Tweet,Retweets,Replies,Likes
0,0,3.109279e+09,2009-08-03 18:59:08,on this date in 2005 tropical storm harvey had...,0.0,0.0,0.0
1,1,3.222536e+09,2009-08-10 09:21:17,algiers canal harvey canal tropical storm rule...,0.0,0.0,0.0
2,2,3.222566e+09,2009-08-10 09:25:40,algiers canal harvey canal tropical storm rule...,0.0,0.0,0.0
3,3,3.818993e+09,2009-09-07 14:22:08,wtf tropical storm harvey fukkin me up,0.0,0.0,0.0
4,4,5.465019e+09,2009-11-06 00:32:37,briaden harvey tropical storm ida threatens ni...,0.0,0.0,0.0
...,...,...,...,...,...,...,...
46120,46104,9.047329e+17,2017-09-04 15:48:23,help the trans community overcome hurricanetro...,0.0,0.0,0.0
46121,46105,9.047345e+17,2017-09-04 15:54:52,dork tower 1d6 of separation 60 off today all ...,3.0,0.0,0.0
46122,46106,9.047348e+17,2017-09-04 15:56:05,santa monica animal rescue organization brings...,0.0,0.0,0.0
46123,46107,9.047371e+17,2017-09-04 16:05:19,tropical storm harvey shutter nasa johnson spa...,0.0,0.0,0.0
46124,46108,9.047376e+17,2017-09-04 16:07:00,leave or stay in the aftermath of tropicalstor...,0.0,0.0,0.0

In [7]:
df['Tweet'].drop_duplicates(inplace=True)

In [8]:
df

,Unnamed: 0,ID,Time,Tweet,Retweets,Replies,Likes
0,0,3.109279e+09,2009-08-03 18:59:08,on this date in 2005 tropical storm harvey had...,0.0,0.0,0.0
1,1,3.222536e+09,2009-08-10 09:21:17,algiers canal harvey canal tropical storm rule...,0.0,0.0,0.0
2,2,3.222566e+09,2009-08-10 09:25:40,algiers canal harvey canal tropical storm rule...,0.0,0.0,0.0
3,3,3.818993e+09,2009-09-07 14:22:08,wtf tropical storm harvey fukkin me up,0.0,0.0,0.0
4,4,5.465019e+09,2009-11-06 00:32:37,briaden harvey tropical storm ida threatens ni...,0.0,0.0,0.0
...,...,...,...,...,...,...,...
46120,46104,9.047329e+17,2017-09-04 15:48:23,help the trans community overcome hurricanetro...,0.0,0.0,0.0
46121,46105,9.047345e+17,2017-09-04 15:54:52,dork tower 1d6 of separation 60 off today all ...,3.0,0.0,0.0
46122,46106,9.047348e+17,2017-09-04 15:56:05,santa monica animal rescue organization brings...,0.0,0.0,0.0
46123,46107,9.047371e+17,2017-09-04 16:05:19,tropical storm harvey shutter nasa johnson spa...,0.0,0.0,0.0
46124,46108,9.047376e+17,2017-09-04 16:07:00,leave or stay in the aftermath of tropicalstor...,0.0,0.0,0.0